
body{
    background-color: #FFF9CA;
    margin: center center;
  }
hr{
    border-style: dotted none none;
    color: #DDDDDD;
    height: 10px;
    border-width: 7px;
    width: 5%;
  }
h1{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: #E27D60;
}
h3{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 20px;
  color: #C38D9E;
}
a{
  text-decoration: none;
  color: #41B3A3;
}
a:hover{
  color: #B2A4FF;
  text-decoration: underline;
}
.basic-info{
  font-size: 18px;
  color: #41B3A3;
}
.quote{
  font-family: 'Josefin Sans', sans-serif;
  color: #41B3A3;
}
.education{
  font-family: cursive;
  color: #41B3A3;
}
.work-heading{
  font-family: cursive;
  color: #41B3A3;
}
.work-body{
  font-family: cursive;
  color: #41B3A3;
}
.skills{
  font-family: cursive;
  color: #41B3A3;
}
.hobbies{
  font-family: cursive;
  color: #41B3A3;
}
.social{
  font-weight: bold;
  color: #41B3A3;
}
.form-item{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #41B3A3;
}
/*_________________________________________flipping the avatar_____________________________________________*/
.flip-container{
  width: 200px;
  height: 200px;
  perspective: 1000px; /*giving a 3d turn, not really work on a circle tho*/
}
.flip-container:hover .the-card{
  transform: rotateY(180deg); /*rotate the card when the container is hover*/
}
.the-card{
  position: relative; /*so that the childrens (the-card) will be positioned relative to their own*/
  width: 100%; /*100% relative to the parents (flip-container)*/
  height: 100%;

  transition: transform 2s; /*duration of Animation*/
  transform-style: preserve-3d; /*showing the front and the back of the item*/
}
.back-side, .front-side{
  /*making circle*/
  border-radius: 50%;
  width: 100%;
  height: 100%;
  /*center text*/
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute; /*absolute so that positioning will be relative to the parents (the-card)*/
  backface-visibility: hidden; /*do not reveal the backside of the items*/
}
.back-side{
  background-color: #41B3A3;
  transform: rotateY(180deg);
  color: #FFF9CA;
}
/*highlight the contact information link (cool one)*/
.contact-info{
  box-shadow: inset 0 0 0 0 #41B3A3; /*create a box shadow initially*/
  color: #41B3A3;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  /*add animation to the color, and the box-shadow, with a .3 sec duration and type of animation*/
}
.contact-info:hover{
  box-shadow: inset 160px 0 0 0 #54b3d6;
  text-decoration: none;
  color:#FFF9CA;
}
